
   {%- liquid
      assign inventory_quantity = variant.inventory_quantity | default: 0
    -%}
    <gp-product-button
      class="gp-product-button"
      gp-data='{"setting":{"actionEffect":"continue-shopping","errorMessage":"Cannot add product to cart","successMessage":"Add product to cart successfully","label":"ORDER NOW","outOfStockLabel":"Out of stock","errorType":"built-in","customURL":{"link":"/cart","target":"_self"}},"styles":{"errorTypo":{"type":"paragraph-2"},"successTypo":{"type":"paragraph-2"}},"disabled":"{{variant.available}}","variantID":"{{variant.id}}","totalVariant":"{{product.variants.size}}"}' style=""
    >
        
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl);--ta:left"
    class="{% unless variant.available %} !gp-hidden {% endunless %}"
  >
    <style>
    .gYzLY7FxeN.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
      
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      
    }

    .gYzLY7FxeN:hover::before {
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #4D4D4D;
  
      
    }
  </style>
    <button
      type="button" data-id="gYzLY7FxeN" aria-label="ORDER NOW"
      
      data-state="idle"
      class="gYzLY7FxeN gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-button-atc"
      style="--hvr-bg:#1073C9;--bg:#5D8062;--bblr:50px;--bbrr:50px;--btlr:50px;--btrr:50px;--shadow:none;--c:var(--g-c-text-3, text-3);--pl:24px;--pr:24px;--pt:17px;--pb:17px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:17px;--pb-tablet:17px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:17px;--pb-mobile:17px;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--tt:default;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:600;--ls:normal;--lh:150%;--size:21px;--size-tablet:24px;--size-mobile:14px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    <span
        class="gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--mr:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      > <svg width="52" height="26" viewBox="0 0 52 26" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M9.66099 13.0006L3.09161 7.00018C2.86228 6.77143 2.86228 6.40031 3.09161 6.17156C3.32094 5.94281 3.69323 5.94281 3.92256 6.17156L10.9132 12.5565C11.0358 12.6785 11.0877 12.8407 11.0796 13C11.0877 13.1599 11.0358 13.3215 10.9132 13.4435L3.92256 19.8284C3.69323 20.0572 3.32094 20.0572 3.09161 19.8284C2.86228 19.5997 2.86228 19.2286 3.09161 18.9998L9.66099 13.0006Z" fill="white" fill-opacity="0.4"/> <path d="M24.4213 13.0008L15.9749 5.28594C15.6801 4.99184 15.6801 4.51468 15.9749 4.22058C16.2698 3.92647 16.7484 3.92647 17.0433 4.22058L26.0313 12.4298C26.1889 12.5866 26.2557 12.7952 26.2451 13C26.2557 13.2056 26.1889 13.4134 26.0313 13.5702L17.0433 21.7794C16.7484 22.0735 16.2698 22.0735 15.9749 21.7794C15.6801 21.4853 15.6801 21.0082 15.9749 20.7141L24.4213 13.0008Z" fill="white" fill-opacity="0.6"/> <path d="M43.9419 13.0011L31.7416 1.85747C31.3157 1.43265 31.3157 0.743428 31.7416 0.318612C32.1675 -0.106204 32.8589 -0.106204 33.2848 0.318612L46.2675 12.1764C46.4951 12.4029 46.5915 12.7042 46.5763 13C46.5915 13.2969 46.4951 13.5971 46.2675 13.8236L33.2848 25.6814C32.8589 26.1062 32.1675 26.1062 31.7416 25.6814C31.3157 25.2566 31.3157 24.5673 31.7416 24.1426L43.9419 13.0011Z" fill="white"/> </svg></span>
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.ggYzLY7FxeN_label }}
      </span>
    </button>
  </div>
  </gp-button>

        
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl);--ta:left"
    class="{% if variant.available %} !gp-hidden {% endif %}"
  >
    <style>
    .gYzLY7FxeN.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
      
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      
    }

    .gYzLY7FxeN:hover::before {
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #4D4D4D;
  
      
    }
  </style>
    <button
      type="button" data-id="gYzLY7FxeN" aria-label="Out of stock"
      
      data-state="idle"
      class="gYzLY7FxeN gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-button-sold-out btn-disabled gp-opacity-30 gp-pointer-events-none"
      style="--hvr-bg:#1073C9;--bg:#5D8062;--bblr:50px;--bbrr:50px;--btlr:50px;--btrr:50px;--shadow:none;--c:var(--g-c-text-3, text-3);--pl:24px;--pr:24px;--pt:17px;--pb:17px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:17px;--pb-tablet:17px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:17px;--pb-mobile:17px;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--tt:default;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:600;--ls:normal;--lh:150%;--size:21px;--size-tablet:24px;--size-mobile:14px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    <span
        class="gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--mr:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      > <svg width="52" height="26" viewBox="0 0 52 26" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M9.66099 13.0006L3.09161 7.00018C2.86228 6.77143 2.86228 6.40031 3.09161 6.17156C3.32094 5.94281 3.69323 5.94281 3.92256 6.17156L10.9132 12.5565C11.0358 12.6785 11.0877 12.8407 11.0796 13C11.0877 13.1599 11.0358 13.3215 10.9132 13.4435L3.92256 19.8284C3.69323 20.0572 3.32094 20.0572 3.09161 19.8284C2.86228 19.5997 2.86228 19.2286 3.09161 18.9998L9.66099 13.0006Z" fill="white" fill-opacity="0.4"/> <path d="M24.4213 13.0008L15.9749 5.28594C15.6801 4.99184 15.6801 4.51468 15.9749 4.22058C16.2698 3.92647 16.7484 3.92647 17.0433 4.22058L26.0313 12.4298C26.1889 12.5866 26.2557 12.7952 26.2451 13C26.2557 13.2056 26.1889 13.4134 26.0313 13.5702L17.0433 21.7794C16.7484 22.0735 16.2698 22.0735 15.9749 21.7794C15.6801 21.4853 15.6801 21.0082 15.9749 20.7141L24.4213 13.0008Z" fill="white" fill-opacity="0.6"/> <path d="M43.9419 13.0011L31.7416 1.85747C31.3157 1.43265 31.3157 0.743428 31.7416 0.318612C32.1675 -0.106204 32.8589 -0.106204 33.2848 0.318612L46.2675 12.1764C46.4951 12.4029 46.5915 12.7042 46.5763 13C46.5915 13.2969 46.4951 13.5971 46.2675 13.8236L33.2848 25.6814C32.8589 26.1062 32.1675 26.1062 31.7416 25.6814C31.3157 25.2566 31.3157 24.5673 31.7416 24.1426L43.9419 13.0011Z" fill="white"/> </svg></span>
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.ggYzLY7FxeN_outOfStockLabel }}
      </span>
    </button>
  </div>
  </gp-button>

    </gp-product-button>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-button.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  