
   {%- liquid
      assign inventory_quantity = variant.inventory_quantity | default: 0
    -%}
    <gp-product-button
      class="gp-product-button"
      gp-data='{"setting":{"actionEffect":"continue-shopping","errorMessage":"Cannot add product to cart","successMessage":"Add product to cart successfully","label":"","outOfStockLabel":"Out of stock","errorType":"built-in","customURL":{"link":"/cart","target":"_self"}},"styles":{"errorTypo":{"type":"paragraph-2"},"successTypo":{"type":"paragraph-2"}},"disabled":"{{variant.available}}","variantID":"{{variant.id}}","totalVariant":"{{product.variants.size}}"}' style=""
    >
        
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px 0px 0px 0px;--shadow:none;--d:none;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
    class="{% unless variant.available %} !gp-hidden {% endunless %}"
  >
    <style>
    .g74x_gA2Lx.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #343434;
  
      
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      
    }

    .g74x_gA2Lx:hover::before {
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #777777;
  
      
    }
  </style>
    <button
      type="button" data-id="g74x_gA2Lx" aria-label
      
      data-state="idle"
      class="g74x_gA2Lx gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-button-atc"
      style="--hvr-bg:transparent;--bg:transparent;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--shadow:none;--c:var(--g-c-text-3, text-3);--pl:24px;--pr:24px;--pt:13px;--pb:13px;--pl-tablet:8px;--pr-tablet:8px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:8px;--pr-mobile:8px;--pt-mobile:12px;--pb-mobile:12px;--w:Auto;--w-tablet:40px;--w-mobile:40px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--tt:uppercase;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:600;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    <span
        class="gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      > <svg width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg"> <g clip-path="url(#clip0_2142_1070)"> <path d="M4.14034 7.00026L1.3249 4.42865C1.22661 4.33061 1.22661 4.17156 1.3249 4.07353C1.42318 3.97549 1.58273 3.97549 1.68102 4.07353L4.67703 6.80994C4.72954 6.86221 4.7518 6.93173 4.7483 7C4.7518 7.06853 4.72954 7.13779 4.67703 7.19007L1.68102 9.92647C1.58273 10.0245 1.42318 10.0245 1.3249 9.92647C1.22661 9.82845 1.22661 9.66939 1.3249 9.57136L4.14034 7.00026Z" fill="black" fill-opacity="0.4"/> </g> <g clip-path="url(#clip1_2142_1070)"> <path d="M10.9007 7.00043L6.20828 2.71441C6.04448 2.55102 6.04448 2.28593 6.20828 2.12254C6.37209 1.95915 6.63801 1.95915 6.80182 2.12254L11.7952 6.68323C11.8827 6.77034 11.9198 6.88622 11.914 7C11.9198 7.11421 11.8827 7.22966 11.7952 7.31678L6.80182 11.8775C6.63801 12.0408 6.37209 12.0408 6.20828 11.8775C6.04448 11.7141 6.04448 11.449 6.20828 11.2856L10.9007 7.00043Z" fill="#343434" fill-opacity="0.6"/> </g> <g clip-path="url(#clip2_2142_1070)"> <path d="M19.661 7.0006L13.0917 1.00018C12.8623 0.77143 12.8623 0.400308 13.0917 0.17156C13.321 -0.0571868 13.6933 -0.0571868 13.9226 0.17156L20.9133 6.55652C21.0358 6.67848 21.0878 6.84071 21.0796 7C21.0878 7.15989 21.0358 7.32152 20.9133 7.44349L13.9226 13.8284C13.6933 14.0572 13.321 14.0572 13.0917 13.8284C12.8623 13.5997 12.8623 13.2286 13.0917 12.9998L19.661 7.0006Z" fill="#343434"/> </g> <defs> <clipPath id="clip0_2142_1070"> <rect width="6" height="6.00001" fill="white" transform="translate(0 4)"/> </clipPath> <clipPath id="clip1_2142_1070"> <rect width="10" height="10" fill="white" transform="translate(4 2)"/> </clipPath> <clipPath id="clip2_2142_1070"> <rect width="14" height="14" fill="white" transform="translate(10)"/> </clipPath> </defs> </svg></span>
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        
      </span>
    </button>
  </div>
  </gp-button>

        
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px 0px 0px 0px;--shadow:none;--d:none;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
    class="{% if variant.available %} !gp-hidden {% endif %}"
  >
    <style>
    .g74x_gA2Lx.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #343434;
  
      
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      
    }

    .g74x_gA2Lx:hover::before {
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #777777;
  
      
    }
  </style>
    <button
      type="button" data-id="g74x_gA2Lx" aria-label="Out of stock"
      
      data-state="idle"
      class="g74x_gA2Lx gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-button-sold-out btn-disabled gp-opacity-30 gp-pointer-events-none"
      style="--hvr-bg:transparent;--bg:transparent;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--shadow:none;--c:var(--g-c-text-3, text-3);--pl:24px;--pr:24px;--pt:13px;--pb:13px;--pl-tablet:8px;--pr-tablet:8px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:8px;--pr-mobile:8px;--pt-mobile:12px;--pb-mobile:12px;--w:Auto;--w-tablet:40px;--w-mobile:40px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--tt:uppercase;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:600;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    <span
        class="gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--mr:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      > <svg width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg"> <g clip-path="url(#clip0_2142_1070)"> <path d="M4.14034 7.00026L1.3249 4.42865C1.22661 4.33061 1.22661 4.17156 1.3249 4.07353C1.42318 3.97549 1.58273 3.97549 1.68102 4.07353L4.67703 6.80994C4.72954 6.86221 4.7518 6.93173 4.7483 7C4.7518 7.06853 4.72954 7.13779 4.67703 7.19007L1.68102 9.92647C1.58273 10.0245 1.42318 10.0245 1.3249 9.92647C1.22661 9.82845 1.22661 9.66939 1.3249 9.57136L4.14034 7.00026Z" fill="black" fill-opacity="0.4"/> </g> <g clip-path="url(#clip1_2142_1070)"> <path d="M10.9007 7.00043L6.20828 2.71441C6.04448 2.55102 6.04448 2.28593 6.20828 2.12254C6.37209 1.95915 6.63801 1.95915 6.80182 2.12254L11.7952 6.68323C11.8827 6.77034 11.9198 6.88622 11.914 7C11.9198 7.11421 11.8827 7.22966 11.7952 7.31678L6.80182 11.8775C6.63801 12.0408 6.37209 12.0408 6.20828 11.8775C6.04448 11.7141 6.04448 11.449 6.20828 11.2856L10.9007 7.00043Z" fill="#343434" fill-opacity="0.6"/> </g> <g clip-path="url(#clip2_2142_1070)"> <path d="M19.661 7.0006L13.0917 1.00018C12.8623 0.77143 12.8623 0.400308 13.0917 0.17156C13.321 -0.0571868 13.6933 -0.0571868 13.9226 0.17156L20.9133 6.55652C21.0358 6.67848 21.0878 6.84071 21.0796 7C21.0878 7.15989 21.0358 7.32152 20.9133 7.44349L13.9226 13.8284C13.6933 14.0572 13.321 14.0572 13.0917 13.8284C12.8623 13.5997 12.8623 13.2286 13.0917 12.9998L19.661 7.0006Z" fill="#343434"/> </g> <defs> <clipPath id="clip0_2142_1070"> <rect width="6" height="6.00001" fill="white" transform="translate(0 4)"/> </clipPath> <clipPath id="clip1_2142_1070"> <rect width="10" height="10" fill="white" transform="translate(4 2)"/> </clipPath> <clipPath id="clip2_2142_1070"> <rect width="14" height="14" fill="white" transform="translate(10)"/> </clipPath> </defs> </svg></span>
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.gg74x_gA2Lx_outOfStockLabel }}
      </span>
    </button>
  </div>
  </gp-button>

    </gp-product-button>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-button.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  