
{% render 'gp-head', 'isThemeSection: true' %}
<link {% if section.settings.section_preload == "false" %} class="gps-link" delay="{{ 'gp-section-491205799939408699.css' | asset_url }}" {% else %} href="{{ 'gp-section-491205799939408699.css' | asset_url }}" {% endif %} rel="stylesheet" type="text/css" media="all">

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      pageContext id="gRUz2Hk5nN"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:128px;--pb:64px;--pt-mobile:56px;--pb-mobile:56px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgc-mobile:transparent;--bgi:url(https://ucarecdn.com/90ab0c8c-a37c-49fd-a5d0-f6823851e775/-/format/auto/);--bgi-mobile:url(https://ucarecdn.com/6d2398b4-c776-4f84-a6d0-8bc787ef1a1b/-/format/auto/);--bgp:50% 0%;--bgp-mobile:50% 0%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gRUz2Hk5nN gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gtgontfh2F gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      pageContext parentTag="Col" id="gH_OQkRZfp"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pl-tablet:15px;--pr-tablet:15px;--cg:64px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gH_OQkRZfp gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gkhK3Egj0e gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g-1Z7cwpgi "
        style="--ta:left;--ta-mobile:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xl);--mb-mobile:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:500;--ls:normal;--lh:130%;--size:32px;--size-tablet:32px;--size-mobile:24px;--c:#343434;word-break:break-word;overflow:hidden"
        ><p>Tech Specifications</p></h2>
      </div>
    </div><div
    
    role="presentation"
    class="gp-group/image ga__9xNvCW"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:var(--g-s-2xl);--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://ucarecdn.com/bd827079-aa26-4aa4-a078-033905ee9136/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="1134" height="1288" alt="Alt Image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:1134/1288;--aspect-tablet:1134/1288;--aspect-mobile:1134/1288;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://ucarecdn.com/bd827079-aa26-4aa4-a078-033905ee9136/-/format/auto/-/preview/3000x3000/-/quality/lighter/" data-srcset="https://ucarecdn.com/bd827079-aa26-4aa4-a078-033905ee9136/-/format/auto/-/preview/3000x3000/-/quality/lighter/ 768w,https://ucarecdn.com/bd827079-aa26-4aa4-a078-033905ee9136/-/format/auto/-/preview/3000x3000/-/quality/lighter/ 1024w,https://ucarecdn.com/bd827079-aa26-4aa4-a078-033905ee9136/-/format/auto/-/preview/3000x3000/-/quality/lighter/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1134" height="1288" alt="Alt Image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:1134/1288;--aspect-tablet:1134/1288;--aspect-mobile:1134/1288;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gTEDS8rjv3 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gOTO3QnDqV "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:500;--ls:normal;--lh:150%;--size:32px;--size-tablet:32px;--size-mobile:24px;--c:#343434;word-break:break-word;overflow:hidden"
        ><p>Tech Specifications</p></h2>
      </div>
    </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px" class="gbZmGH37UF ">
      
    <gp-accordion
     uid="gbZmGH37UF"
      class="gp-flex gp-w-full gp-flex-col "
      style="--gg:8px"
      gp-data='{"setting":{"iconSvg":"<svg width=\"17\" height=\"16\" viewBox=\"0 0 17 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n                  <path d=\"M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z\" fill=\"currentColor\"/>\n                  </svg>","isIconPlus":false,"activeKey":"2","expanded":false,"expandItem":true,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px","height":"16px","width":"16px"}},"layoutHeader":"text-only","expandedMode":"single","configIconSize":16,"parentUid":"gbZmGH37UF","childListNumber":["1"],"chidlrenUid":["gHdQNfxrQF","ghZvAJfjbg","g-DhhQaA-d","gfPP-gQAlQ","g3AEJSiypb"]},"styles":{"bgColor":{"normal":"#FFFFFF"},"color":{"active":"#343434","hover":"#343434","normal":"#343434"},"headerBorder":{"active":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"},"hover":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"},"normal":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"}},"fullWidth":{"desktop":true},"width":{"desktop":"1170px"},"itemHeaderSpacing":{"custom":{"desktop":{"horizontal":"32px","vertical":"11px"},"mobile":{"horizontal":"14px","vertical":"11px"}}},"textColor":{"active":"#343434","hover":"#343434","normal":"#343434"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":"8px","padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}},"mobile":{"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}},"tablet":{"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}}},"headerContentPadding":{"desktop":{"padding":{"bottom":"11px","left":"32px","right":"32px","top":"11px","type":"custom"}},"mobile":{"padding":{"bottom":"11px","left":"14px","right":"14px","top":"11px","type":"custom"}},"tablet":{"padding":{"bottom":"11px","left":"32px","right":"32px","top":"11px","type":"custom"}}},"widthHeightSize":{"desktop":{"width":"100%"},"mobile":{"width":"100%"},"tablet":{"width":"100%"}}},"uid":"gbZmGH37UF"}'
    >
    <div class="gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
    <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#F3F3F3">
    <div
      data-index="0"
      class="gbZmGH37UF gp-accordion-item gp-overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gHdQNfxrQF"
        id="gHdQNfxrQF"
        data-index="0"
        class="gbZmGH37UF gp-accordion-item-gbZmGH37UF-0 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:32px;--pr:32px;--pt:11px;--pb:11px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:11px;--pb-tablet:11px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:11px;--pb-mobile:11px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:#FFFFFF;--hvr-c:#343434;--c:#343434;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-gbZmGH37UF-0:hover { 
              .gp-collapsible-icon { 
                  color: #343434 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#343434;--c:#343434;width:16px;height:16px"
            data-index="0"
            class="gbZmGH37UF gp-accordion-item_icon gp-collapsible-icon gp-rotate-90 gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg></span>
          
        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggbZmGH37UF_childItem_0 }}</span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="gHdQNfxrQF"
        data-index="0"
        class="gbZmGH37UF gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gHdQNfxrQF"
        data-index="0"
        class="gbZmGH37UF gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:0px;--pr:0px;--pl-tablet:0px;--pr-tablet:0px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      pageContext label="Block" tag="Col" type="component"
      style=""
      class="gWwOxt1vxg gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      pageContext parentTag="Col" id="gyEWxcppiH"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pl:var(--g-s-2xl);--pr:var(--g-s-2xl);--pl-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gyEWxcppiH gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gbTrqXz32p gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gDTrxlXKhz "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:normal;--lh:150%;--size:14px;--size-tablet:14px;--size-mobile:12px;--c:#6B6B6B;word-break:break-word;overflow:hidden"
        ><ul><li><span style="color:#343434;">Headphone type:</span> Dynamic</li><li><span style="color:#343434;">Driver unit:</span> 1.18 in (Dome Type)</li><li><span style="color:#343434;">Magnet:</span> Neodymium</li><li><span style="color:#343434;">Frequency Response (Bluetooth® Communication):</span><br>20–20,000 Hz (44.1 kHz Sampling)</li><li><span style="color:#343434;">Sensitivities (dB/mW):</span> 103 dB/mW</li><li><span style="color:#343434;">Volume Control:</span> Tact switch</li><li><span style="color:#343434;">Cord Type:</span> Single-sided (detachable)</li><li><span style="color:#343434;">Cord Length:</span> approx. 47 1/4 in (1.2 m)</li><li><span style="color:#343434;">Plug:</span> Gold-plated L-shaped Stereo Mini</li><li><span style="color:#343434;">Input(S):</span> Stereo Mini Jack</li></ul></div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#F3F3F3">
    <div
      data-index="1"
      class="gbZmGH37UF gp-accordion-item gp-overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="ghZvAJfjbg"
        id="ghZvAJfjbg"
        data-index="1"
        class="gbZmGH37UF gp-accordion-item-gbZmGH37UF-1 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:32px;--pr:32px;--pt:11px;--pb:11px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:11px;--pb-tablet:11px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:11px;--pb-mobile:11px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:#FFFFFF;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--c:#343434"
      >
       <style class="accordion-style">.gp-accordion-item-gbZmGH37UF-1:hover { 
              .gp-collapsible-icon { 
                  color: #343434 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--c:#343434;width:16px;height:16px"
            data-index="1"
            class="gbZmGH37UF gp-accordion-item_icon gp-collapsible-icon -gp-rotate-90 gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg></span>
          
        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggbZmGH37UF_childItem_1 }}</span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="ghZvAJfjbg"
        data-index="1"
        class="gbZmGH37UF gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:1fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="ghZvAJfjbg"
        data-index="1"
        class="gbZmGH37UF gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px" >
            <div
      pageContext label="Block" tag="Col" type="component"
      style=""
      class="gfgP1tK_y5 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      pageContext parentTag="Col" id="gwTwpeHOdG"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pl:var(--g-s-2xl);--pr:var(--g-s-2xl);--pl-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gwTwpeHOdG gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gQbpUQTtbf gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gscwuLlwr2 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:normal;--lh:150%;--size:14px;--size-tablet:14px;--size-mobile:12px;--c:#6B6B6B;word-break:break-word;overflow:hidden"
        ><ul><li><span style="color:#343434;">Headphone type:</span> Dynamic</li><li><span style="color:#343434;">Driver unit:</span> 1.18 in (Dome Type)</li><li><span style="color:#343434;">Magnet:</span> Neodymium</li><li><span style="color:#343434;">Frequency Response (Bluetooth® Communication):</span><br>20–20,000 Hz (44.1 kHz Sampling)</li><li><span style="color:#343434;">Sensitivities (dB/mW):</span> 103 dB/mW</li><li><span style="color:#343434;">Volume Control:</span> Tact switch</li><li><span style="color:#343434;">Cord Type:</span> Single-sided (detachable)</li><li><span style="color:#343434;">Cord Length:</span> approx. 47 1/4 in (1.2 m)</li><li><span style="color:#343434;">Plug:</span> Gold-plated L-shaped Stereo Mini</li><li><span style="color:#343434;">Input(S):</span> Stereo Mini Jack</li></ul></div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#F3F3F3">
    <div
      data-index="2"
      class="gbZmGH37UF gp-accordion-item gp-overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="g-DhhQaA-d"
        id="g-DhhQaA-d"
        data-index="2"
        class="gbZmGH37UF gp-accordion-item-gbZmGH37UF-2 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:32px;--pr:32px;--pt:11px;--pb:11px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:11px;--pb-tablet:11px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:11px;--pb-mobile:11px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:#FFFFFF;--hvr-c:#343434;--c:#343434;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-gbZmGH37UF-2:hover { 
              .gp-collapsible-icon { 
                  color: #343434 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#343434;--c:#343434;width:16px;height:16px"
            data-index="2"
            class="gbZmGH37UF gp-accordion-item_icon gp-collapsible-icon gp-rotate-90 gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg></span>
          
        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggbZmGH37UF_childItem_2 }}</span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="g-DhhQaA-d"
        data-index="2"
        class="gbZmGH37UF gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="g-DhhQaA-d"
        data-index="2"
        class="gbZmGH37UF gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:0px;--pr:0px;--pl-tablet:0px;--pr-tablet:0px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      pageContext label="Block" tag="Col" type="component"
      style=""
      class="gdLEL8G0IN gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      pageContext parentTag="Col" id="gSd7wwMfBs"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pl:var(--g-s-2xl);--pr:var(--g-s-2xl);--pl-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gSd7wwMfBs gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gTczwy33Jb gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gCRTlPlxwL "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:normal;--lh:150%;--size:14px;--size-tablet:14px;--size-mobile:12px;--c:#6B6B6B;word-break:break-word;overflow:hidden"
        ><ul><li><span style="color:#343434;">Headphone type:</span> Dynamic</li><li><span style="color:#343434;">Driver unit:</span> 1.18 in (Dome Type)</li><li><span style="color:#343434;">Magnet:</span> Neodymium</li><li><span style="color:#343434;">Frequency Response (Bluetooth® Communication):</span><br>20–20,000 Hz (44.1 kHz Sampling)</li><li><span style="color:#343434;">Sensitivities (dB/mW):</span> 103 dB/mW</li><li><span style="color:#343434;">Volume Control:</span> Tact switch</li><li><span style="color:#343434;">Cord Type:</span> Single-sided (detachable)</li><li><span style="color:#343434;">Cord Length:</span> approx. 47 1/4 in (1.2 m)</li><li><span style="color:#343434;">Plug:</span> Gold-plated L-shaped Stereo Mini</li><li><span style="color:#343434;">Input(S):</span> Stereo Mini Jack</li></ul></div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#F3F3F3">
    <div
      data-index="3"
      class="gbZmGH37UF gp-accordion-item gp-overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gfPP-gQAlQ"
        id="gfPP-gQAlQ"
        data-index="3"
        class="gbZmGH37UF gp-accordion-item-gbZmGH37UF-3 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:32px;--pr:32px;--pt:11px;--pb:11px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:11px;--pb-tablet:11px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:11px;--pb-mobile:11px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:#FFFFFF;--hvr-c:#343434;--c:#343434;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-gbZmGH37UF-3:hover { 
              .gp-collapsible-icon { 
                  color: #343434 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#343434;--c:#343434;width:16px;height:16px"
            data-index="3"
            class="gbZmGH37UF gp-accordion-item_icon gp-collapsible-icon gp-rotate-90 gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg></span>
          
        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggbZmGH37UF_childItem_3 }}</span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="gfPP-gQAlQ"
        data-index="3"
        class="gbZmGH37UF gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gfPP-gQAlQ"
        data-index="3"
        class="gbZmGH37UF gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:0px;--pr:0px;--pl-tablet:0px;--pr-tablet:0px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      pageContext tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gUerG_nK_G gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      pageContext parentTag="Col" id="gDY50xy7Z2"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pl:var(--g-s-2xl);--pr:var(--g-s-2xl);--pl-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gDY50xy7Z2 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gq_V6U7jpH gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gnIAgxG7jw "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:normal;--lh:150%;--size:14px;--size-tablet:14px;--size-mobile:12px;--c:#6B6B6B;word-break:break-word;overflow:hidden"
        ><ul><li><span style="color:#343434;">Headphone type:</span> Dynamic</li><li><span style="color:#343434;">Driver unit:</span> 1.18 in (Dome Type)</li><li><span style="color:#343434;">Magnet:</span> Neodymium</li><li><span style="color:#343434;">Frequency Response (Bluetooth® Communication):</span><br>20–20,000 Hz (44.1 kHz Sampling)</li><li><span style="color:#343434;">Sensitivities (dB/mW):</span> 103 dB/mW</li><li><span style="color:#343434;">Volume Control:</span> Tact switch</li><li><span style="color:#343434;">Cord Type:</span> Single-sided (detachable)</li><li><span style="color:#343434;">Cord Length:</span> approx. 47 1/4 in (1.2 m)</li><li><span style="color:#343434;">Plug:</span> Gold-plated L-shaped Stereo Mini</li><li><span style="color:#343434;">Input(S):</span> Stereo Mini Jack</li></ul></div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#F3F3F3">
    <div
      data-index="4"
      class="gbZmGH37UF gp-accordion-item gp-overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="g3AEJSiypb"
        id="g3AEJSiypb"
        data-index="4"
        class="gbZmGH37UF gp-accordion-item-gbZmGH37UF-4 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:32px;--pr:32px;--pt:11px;--pb:11px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:11px;--pb-tablet:11px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:11px;--pb-mobile:11px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:#FFFFFF;--hvr-c:#343434;--c:#343434;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-gbZmGH37UF-4:hover { 
              .gp-collapsible-icon { 
                  color: #343434 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#343434;--c:#343434;width:16px;height:16px"
            data-index="4"
            class="gbZmGH37UF gp-accordion-item_icon gp-collapsible-icon gp-rotate-90 gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg></span>
          
        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggbZmGH37UF_childItem_4 }}</span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="g3AEJSiypb"
        data-index="4"
        class="gbZmGH37UF gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="g3AEJSiypb"
        data-index="4"
        class="gbZmGH37UF gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:0px;--pr:0px;--pl-tablet:0px;--pr-tablet:0px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      pageContext tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gk6ka4bvUy gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      pageContext parentTag="Col" id="g-q0lQ6X3_"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pl:var(--g-s-2xl);--pr:var(--g-s-2xl);--pl-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g-q0lQ6X3_ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gm3iTHt7ZR gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gaI1JX_Qgl "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:normal;--lh:150%;--size:14px;--size-tablet:14px;--size-mobile:12px;--c:#6B6B6B;word-break:break-word;overflow:hidden"
        ><ul><li><span style="color:#343434;">Headphone type:</span> Dynamic</li><li><span style="color:#343434;">Driver unit:</span> 1.18 in (Dome Type)</li><li><span style="color:#343434;">Magnet:</span> Neodymium</li><li><span style="color:#343434;">Frequency Response (Bluetooth® Communication):</span><br>20–20,000 Hz (44.1 kHz Sampling)</li><li><span style="color:#343434;">Sensitivities (dB/mW):</span> 103 dB/mW</li><li><span style="color:#343434;">Volume Control:</span> Tact switch</li><li><span style="color:#343434;">Cord Type:</span> Single-sided (detachable)</li><li><span style="color:#343434;">Cord Length:</span> approx. 47 1/4 in (1.2 m)</li><li><span style="color:#343434;">Plug:</span> Gold-plated L-shaped Stereo Mini</li><li><span style="color:#343434;">Input(S):</span> Stereo Mini Jack</li></ul></div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            
    </gp-accordion>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-accordion.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLGT9Z1xlEw.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLCz7Z1xlEw.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLGT9Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLGT9Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    "presets": [{ "name": "Specification" }],
    "name": "Specification",
    "tag": "section",
    "class": "gps-491205799939408699 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/eevo-motors-holding/apps/bold/app/shopify/edit?pageType=THEME_SECTION&editorId=491205799939408699)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"}],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
